.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspacedata
.netrc
/build_output/
*.provisionprofile
Sources/RainDrop/Core/Firebase/FirebaseSecrets.swift
